<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">
<!--Cannot get this to load from local source. Any ideas?
<img src = "../logorusa.png"></img>
-->

<!--Cannot seems to style image with standard CSS principles. Do we need special bootstrap stuff?-->
<h1>ACP Brevet Opening/Closing times<img src="http://www.rusa.org/Images/logorusa.gif"></img></h1>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">

<!--Create input forms-->

<!--Create header inputs-->
<div class="row">
<div class="col-xs-12">
   <label class="col-xs-3">Starting date and time:</label>
      <input class="col-md-2" id="date" placeholder="YYYY/MM/DD">
      <input class="col-md-2" id="time" placeholder="HH:mm">
</div>
</div>
<br>
<div class="row">
<div class="col-xs-12">
   <label class="col-xs-3">Race distance:</label>
      <select class="control-label col-md-2" id="RaceDistance">
          <option>200</option>
          <option>300</option>
          <option>400</option>
          <option>600</option>
          <option>1000</option>
      </select>
</div>
</div>
<br>
<div class="row">
<div class="col-xs-12">
   <label class="col-xs-3">Input distances unit:</label>
      <select class="control-label col-md-1.5" id="InUnits">
         <option>kilometers</option>
         <option>miles</option>
      </select>
</div>
</div>
<br><br>


{% for i in range(10) %}
<!--Added index number before to make interface more clear when using on mobile version. How could I make this align perfecting with each line?-->
<b>Checkpoint  #{{ i+1 }}</b>
<div class="row" id ="{{ i+1 }}">
  <div class="col-md-2">
    <input type="number" class="form-control"
     name="miles" placeholder="Checkpoint"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" placeholder="location" />
  </div>
  <div class="col-md-3">
    <span class="times form-control">(starting times)</span>
  </div>
  <div class="col-md-3">
    <span class="closingtimes form-control">(closing times)</span>
  </div>
</div>
{% endfor %}


</form>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
   // Do the following when the page is finished loading

      // When a field named 'miles' is changed ...


      //pass open times
      $('input[name="miles"]').change(
          // ... execute this function
          function(){
              var e_miles = $(this).val();

              var target = $(this).parents(".row").find(".times");

              var closingtarget = $(this).parents(".row").find(".closingtimes");

              //Other variables
              var raceDistance = $('#RaceDistance option:selected').text();
              var inputUnit = $('#InUnits option:selected').text();
              var date = $('#date').val();
              var time = $('#time').val();

              //Make sure Brevet distance is within range of Race distance. If not, alert user of error
              if (e_miles > raceDistance*1.2){
                alert("ERROR: INVALID CHECKPOINT DISTANCE\n\n\nCheckpoint distance entered, "+e_miles.toString()+", is 20% larger than the entered Brevet ("+raceDistance+").\n\n"+"Please enter a Brevet distance equal to or less than "+raceDistance*1.2+".");
                return;

                }


              // AJAX request
              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  {miles: e_miles,RaceDistance: raceDistance,date: date,time: time,inputUnit:inputUnit},
                  // The function to call with the response
                  function(data) {

                    //abort function if incorrect date was given
                    if (data.dateError=="yes"){
                      alert("ERROR: INVALID DATE\n\n\nDate given, "+date+", is invalid.\n\n"+"Please enter a valid date in format YYYY/MM/DD.")
                      return
                    }

                    //abort function if incorrect time was given
                    if (data.timeError=="yes"){
                      alert("ERROR: INVALID TIME\n\n\nTime given, "+time+", is invalid.\n\n"+"Please enter a valid time in format HH:mm.")
                      return
                    }


                     var openTime = data.openTime;
                     var closeTime = data.closeTime;

                     target.text(openTime);
                     closingtarget.text(closeTime);
                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes


     });   // end of what we do on document ready

</script>

</div>
</body> </html>
